---

---
<section class="relative flex min-h-screen w-full">
    <div class="bg-[url('../../../image/bg.png')] bg-cover bg-center w-full mask-fade-bottom absolute inset-0"></div>


    <div class="relative flex flex-col items-center p-20 w-full">
            <div id="landing" class="absolute inset-0 flex flex-col items-center w-full ">
                <div id="hovereffect" class="border border-black border-solid relative flex flex-col items-center transition-all duration-700 ease-in-out overflow-hidden group py-40">

                  <p class="absolute bottom-10 text-white text-4xl font-bold opacity-0 translate-y-10 transition-all duration-700 ease-in-out group-hover:opacity-100 group-hover:translate-y-0 z-10">
                    La Pieza
                  </p>
              
                  <figure>
                    <img
                      class="w-[300px] mt-10 transition-all duration-700 ease-in-out group-hover:translate-y-10 group-hover:scale-110"
                      src="../../../image/logo.png"
                      alt="La Pieza"
                      decoding="async"
                    />
                  </figure>
                </div>
              </div>
              
          </div>
          
</div>

</section>