@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@midudev/tailwind-animations";


:root{
    --font-Lexend: 'Lexend Giga', sans-serif;   
    --font-Victor: 'Victor Mono', monospace;
    --font-Rubik: 'Rubik Glitch', sans-serif;
}

@font-face{
    font-family: "Victor Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

html{
    font-family: "Victor Mono", monospace;
    overflow-x: hidden;
}
.backgroundimagehero::before{
  content:"";
  position:absolute;
  inset:0;
  background-image: url("../../image/bgopt.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  z-index: 0;
}
.custom-footer::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../../image/image1.webp');
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: 0;
  }

.lapiezaimg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/image/logo.png'); /* Adjusted path */
  background-size: contain; /* Changed from 'cover' to maintain aspect ratio */
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}
.event-img {
  position: relative; /* Needed to contain the absolute pseudo-element */
  width: 600px;
  height: 400px; /* Give it a defined height */
  /* border:1px solid red; */
  background-color: transparent;
  border-top-right-radius: 1rem;  /* rounded top-right */
  border-bottom-left-radius: 1rem; /* rounded bottom-left */
  overflow: hidden;
}
.event-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/image/missing-piece.webp'); /* Adjusted path */
  background-size: contain; /* Changed from 'cover' to maintain aspect ratio */
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}
 /* .lapiezaimg::before {
    content: "";
    position: relative;
    inset: 0;
    background-image: url('../../image/logo.png');
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: 0;
  }  */
  @layer utilities {
    .mask-fade-top{
      mask-image: linear-gradient(to top, black 80%, transparent 100%);
    }
    .mask-fade-bottom {
      mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    }
  }

  
@keyframes revealLogoText {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0;
  }
  50% {
    transform: translateY(20px) scale(1.1);
    opacity: 0.5;
  }
  100% {
    transform: translateY(40px) scale(1.1);
    opacity: 1;
  }
}

.animate-reveal {
  animation: revealLogoText 1.5s ease-out forwards;
}