@import url('https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --font-Lexend: 'Lexend Giga', sans-serif;   
    --font-Victor: 'Victor Mono', monospace;
}

@font-face{
    font-family: "Victor Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

html{
    font-family: "Victor Mono", monospace;
}
.custom-footer::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../../image/image.png');
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: 0;
  }
  @layer utilities {
    .mask-fade-bottom {
      mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    }
  }