<header class="headernav fixed top-0 w-full z-50 text-white bg-transparent mx-auto">
  <nav class="navitems flex md:flex-row flex-col md:justify-between md:items-center px-6 py-7 text-sm font-light max-w-6xl mx-auto w-full">

    <!-- Left Side (Desktop) -->
    <div class=" md:flex flex-row gap-4 justify-start hidden ">
      <span class="inline-block font-Lexend opacity-60 cursor-not-allowed">
        SIGUIENTES <strong>FECHAS</strong>
      </span>
      <a href="https://adriasolapastor.com/" target="_blank" class=" inline-block font-Lexend hover:underline">
        QUIEN <strong>SOY</strong>
      </a>
    </div>

    <!-- Right Side (Desktop) -->
    <div class="md:flex flex-col items-end font-Lexend hidden  ">
      <span class="  inline-block opacity-60 cursor-not-allowed relative ">
        Quiero Ser Parte de <strong>ICO</strong>
        <span class=" absolute text-[15px] top-4 inset-0 text-center text-blue-600 mt-1 z-99">Próximamente</span>
      </span>
    </div>

    <!-- Mobile Layout -->
    <div class="flex flex-col items-center  justify-center text-center gap-1 md:hidden">
      <span class="inline-block font-Lexend opacity-40 cursor-not-allowed text-[10px]">
        SIGUIENTES <strong>FECHAS</strong>
      </span>
      <a href="https://adriasolapastor.com/" target="_blank" class=" text-[10px] inline-block font-Lexend hover:underline">
        QUIEN <strong>SOY</strong>
      </a>
      <span class="text-[15px]inline-block font-Lexend opacity-40 cursor-not-allowed relative">
        Quiero Ser Parte de <strong>ICO</strong>
        <span class="absolute text-[10px] top-4 inset-0 text-center text-blue-500 mt-1">Próximamente</span>
      </span>
    </div>

  </nav>
</header>

<style>
  header {
    background: transparent;
    animation: blur-scroll 0.5s linear both;
    animation-timeline: scroll();
    animation-range: 0 250px;
    border-bottom: 1px solid transparent;
  }

  @keyframes blur-scroll {
    0% {
      backdrop-filter: blur(0px);
      background: transparent;
    }
    100% {
      backdrop-filter: blur(10px);
      background: rgba(0, 0, 0, 0.3);
      padding-bottom: var(--spacing-6);
      border-bottom-color: black;
    }
  }
</style>
