---
import Instagram from "../../../image/instagram.svg";
import Twitter from '../../../image/x.svg';
import LinkedIn from '../../../image/linkedin.svg';
---

<footer class="relative custom-footer w-screen h-[400px] flex flex-col justify-center items-center text-white">
    <div class="footer-content text-black relative z-10">
      <p>© 2025 Your Company. All Rights Reserved</p>
      <div class="social-links flex flex-row rounded-full p-2 h-30 w-full justify-center items-center gap-4">
        <a href="https://x.com/adriasolapastor?lang=en" target="_blank">
          <Twitter class="w-6 h-6 hover:scale-125 transition" />
        </a>
        <a href="https://www.instagram.com/adriasolapastor/?hl=en" target="_blank">
          <Instagram class="w-6 h-6 hover:scale-125 transition" />
        </a>
        <a href="https://ad.linkedin.com/in/adriasolapastor" target="_blank">
          <LinkedIn class="w-6 h-6 hover:scale-125 transition" />
        </a>
      </div>
    </div>
  </footer>
  