---
import "../styles/global.css"
import Header from "../components/Header/header.astro"
import Footer from "../components/Footer/footer.astro"
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Adrìa Solà Pastor - Experto en Comunicación y Desarrollo Personal</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
		<meta property="og:url" content="http://lapieza.com" / >
		<meta property="og:type" content="website">
		<meta property="og:title" content="La Pieza El evento que cambiara tu vida">

		<meta name="description", content="Adrìa Solà Pastor experto en comunicación , relaciones con personas de valor y contenido de valor ">
		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:site" content="@adriasolapastor"/>
		<meta name="twitter:creator" content="@ibaillanos"/>
		<meta name="twitter:title" content="Adrìa Solà Pastor - Experto en Comunicación y Desarrollo Personal">
		<meta name="twitter:description", content="Adrìa Solà Pastor experto en comunicación , relaciones con personas de valor y contenido de valor">

	</head>
	<body>
		<Header />
		<main class="flex-grow">
		<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: #0F2B46;
	}
	
</style>
